@charset "UTF-8";

/* 전체 배경 */
body {
    background: white; 
    font-family: "Noto Sans JP", sans-serif; /* 일본어 폰트 */
}

/* 가운데 박스 */
.find-container {
    max-width: 480px;
    margin: 170px auto;
    background: #ffffff; /* 부드러운 베이지 배경 */
    border-radius: 12px;
    padding: 40px 35px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    border: 2px solid #ceb597; /* 테두리 포인트 */
}

/* 제목 */
h3 {
    font-weight: 700;
    color: #ceb597; /* 진한 브라운 느낌 */
}

/* 탭 메뉴 (선택 전 상태) */
.nav-tabs .nav-link {
    color: #000000!important; /* 기본 글씨 검은색으로 변경 */

/* 탭 메뉴 (선택된 상태) */
.nav-tabs .nav-link.active {
    background-color: brown; 
    color: #ffffff!important;  /* 글씨색은 흰색으로 변경하면 가독성 좋아요 */
    border: none;
     transition: background-color 0.3s ease; /* 배경색 전환 애니메이션 */
}
.nav-tabs .nav-link:hover {
    background-color: #d9534f;    /* 마우스 오버 시 배경색 */
    color: #ffffff!important;     /* 글씨색 흰색 */
}

}

/* 버튼 */
.btn-main {
    background-color: #ceb597;
    color: white;
    border: none;
    transition: 0.2s ease;
}

.btn-main:hover {
    background-color: #bca27f; /* 살짝 어두운 베이지 */
}
